<h3>
<a class="btn btn-secondary" href="/">Back</a> My Orders
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Items ordered</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.product_name}}</td>
            <td>{{this.number_of_items}}</td>
            <td>{{this.status}}</td>
            {{#if this.st}}
            {{#unless ../session.isAdmin}}
            <td>
                <a class="btn btn-primary btn-sm" href="/product/order_cancel/{{this.id}}"
                onclick="return confirm('Are you sure you want to cancel this order?');">Cancel</a>
            </td>
            {{/unless}}
            {{/if}}
            {{#if ../session.isAdmin}}
            <td>
                <a class="btn btn-primary btn-sm" href="/product/change_status/{{this.id}}"
                onclick="return confirm('Are you sure you want to change status this order?');">Change status</a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="/product/order_delete/{{this.id}}"
                onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>